@model SequenceCalculator.Models.SequenceViewModel

@using (Html.BeginForm("Index", "Home"))
{
    <div class="form-group">
        Input : @Html.TextBoxFor(model => model.input, new { @class = "form-control" }) <button type="submit" class="btn btn-default">Submit</button>
        @Html.ValidationMessageFor(model => model.input)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.allNumbers)
        @Html.DisplayFor(model => model.allNumbers)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.evenNumbers)
        @Html.DisplayFor(model => model.evenNumbers)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.oddNumbers)
        @Html.DisplayFor(model => model.oddNumbers)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fizzBuzzNumbers)
        @Html.DisplayFor(model => model.fizzBuzzNumbers)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fibonacciNumbers)
        @Html.DisplayFor(model => model.fibonacciNumbers)
    </div>

}


